<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
   
</head>
<body>
    <form action="result" method="get">
        <h3>  Name </h3><br>
        <input type="text" name="name" id="first" placeholder="Enter  Name"><br>
        <h3> Target </h3><br>
        <input type="text" name="marks" id="second" placeholder="Target"><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>